[submodule "damien-omen"]
    path = "damien-omen"
    url = "https://github.com/skeletony007/.dotfiles-damien-omen.git"

[submodule "uol"]
    path = "uol"
    url = "https://github.com/skeletony007/.dotfiles-uol.git"
