[submodule "openssh"]
    path = "openssh"
    url = "git@github.com:skeletony007/.dotfiles-openssh.git"

[submodule "damien-omen"]
    path = "damien-omen"
    url = "git@github.com:skeletony007/.dotfiles-damien-omen.git"

[submodule "icestorm"]
    path = "icestorm"
    url = "git@github.com:skeletony007/.dotfiles-icestorm.git"

[submodule "uol"]
    path = "uol"
    url = "git@github.com:skeletony007/.dotfiles-uol.git"
