/* ================ Move the window controls inline in macos ================= */
#titlebar {
  appearance: none !important;
  height: 0px;
}
#titlebar > #toolbar-menubar {
  margin-top: 0px;
}
#TabsToolbar {
  min-width: 0 !important;
  min-height: 0 !important;
}

hbox#nav-bar-customization-target {
  padding-left: 80px !important;
}
#urlbar {
  padding-right: 112px !important;
}

#TabsToolbar > .titlebar-buttonbox-container {
  display: block;
  position: absolute;
  top: 12px;
  left: 0px;
}
